# LaTeX build artifacts (anywhere)
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.run.xml
**/*.synctex.gz
**/*.toc
**/*.nav
**/*.snm
**/*.vrb
**/update-tlmgr-latest.sh
# VS Code
.vscode/
.DS_Store
.Rhistory
